/*Mobile and Tablet version Design First*/
@media all and (max-width: 600px){
	
	body{
		margin: 5%;
	}
	header{
		padding: 0%;
	}
	
	h2{
		display: inline-block;
		/*background-color: gray;*/
		width: 50%;
		font-size: 120%;
	}

	img{
		display: inline-block;
		width: 45%;
		padding-left: 1%;
	}

	main{
		background-color: rgba(184, 222, 199, 1);
		float: none;
	}
}

@media all and (min-width: 1224px){
	body{
		margin: 12%;
		font-family: "arial";
		background-color: rgba(1,1,1,0.3)
	}
	header{
		padding: 0%;
		background-color: rgba(255,255,255,1);
		width: 100%;
	}
	
	h2{
		display: inline-block;
		width: 45%;
		font-size: 280%;
		float: left;
		padding-top: 2.5%;
		padding-left: 4%;
		font-family: "arial";
		font-weight: 0%;
		color: rgba(150,0,20,1);
	}

	img{
		display: inline-block;
		float: none;
		width: 45%;
		padding-left: 1%;
	}

	form{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	}

	main{
		background-color: rgba(184, 222, 215, 0.7);
		float: none;
		padding-top: 2%;
		padding-left: 5%;
		padding-right: 5%;
		line-height: 150%;
	}

	label{
		display: block;
		font-size: 150%;
		padding-bottom: 1%;
	}

	#table_one{
		width: 100%;
	}

	#table_one td{
		width: 50%;
	}

	#name_box{
		height: 3vh;
		width: 90%;
	}

	#course_box{
		height: 3vh;
		width: 90%;
	}

	#table_one tr{
		width: 100%;
	}

	span{
		display: block;
		width: 100% !important;
	}

	.arrow{
		margin-top: 3%;
		margin-bottom: 3%;
		margin-right: 0.8%;
		border: solid rgba(150,0,20,1);
  		border-width: 0 3px 3px 0;
  		display: inline-block;
  		padding: 0.3%;
  		transform: rotate(-45deg);
  		-webkit-transform: rotate(-45deg);
  		-moz-transform: rotate(-45deg);
  		-o-transform: rotate(-45deg);
	}

	#table_two{
		border-collapse: collapse;
		width: 100%;
		font-size: 120%;
		margin-top: 2%;
		margin-bottom: 4%;
		height: 3vh;
	}

	#table_two tr:first-child td:not(:first-child){
		border-style: ridge;
		border-collapse: collapse;
		border-spacing: 0.01px;
		border-color: rgba(1,1,1,0.5);
		text-align: center;
	}

	#table_two tr:nth-child(2) td{
		border-style: solid;
		border-collapse: collapse;
		border-spacing: 0.1px;
		border-color: rgba(1,1,1,0.5);
		text-align: center;
		background-color: #d5d5d5;
	}

	#table_two input{
		transform: scale(1.5);
	}

	#table_two tr{
		line-height: 140%;
	}

	#qu_two_ans p{
		width: 49.5%;
		display: inline-block;
		font-family: "arial";
		font-size: 120%;
		margin-bottom: 5%;
	}

	#qu_two_ans p input{
		transform: scale(1.5);
		margin-right: 5%;
	}

	#reasons{
		margin-top: 1%;
		margin-bottom: 5%;
		width: 99%;
		height: 24vh;
		box-sizing: border-box;
  		border: 2px solid #ccc;
  		border-radius: 4px;
	}

	#table_three{
		border-collapse: collapse;
		width: 100%;
		font-size: 120%;
		margin-top: 2%;
		margin-bottom: 4%;
		height: 3vh;
	}

	#table_three tr:first-child td:not(:first-child){
		border-style: ridge;
		border-collapse: collapse;
		border-spacing: 0.01px;
		border-color: rgba(1,1,1,0.5);
		text-align: center;
	}

	#table_three tr:not(:first-child) td{
		border-style: ridge;
		border-collapse: collapse;
		border-spacing: 0.01px;
		border-color: rgba(1,1,1,0.5);
		text-align: center;
	}

	#table_three tr:nth-child(even) td{
		border-style: solid;
		border-collapse: collapse;
		border-spacing: 0.1px;
		border-color: rgba(1,1,1,0.5);
		text-align: center;
		background-color: #d5d5d5;
	}

	#table_three input{
		transform: scale(1.5);
		border-style: solid;
		border-color: rgb(1,1,1);
	}

	#table_three tr{
		line-height: 140%;
	}

	#qu_five_ans p{
		width: 49.5%;
		display: inline-block;
		font-family: "arial";
		font-size: 120%;
		margin-bottom: 5%;
	}

	#qu_five_ans p input{
		transform: scale(1.5);
		margin-right: 5%;
	}

	#comments{
		margin-top: 1%;
		margin-bottom: 5%;
		width: 99%;
		height: 24vh;
		box-sizing: border-box;
  		border: 2px solid #ccc;
  		border-radius: 4px;
	}

	#submit{
		height: 15vh;
		background-color: rgba(255,255,255,0.9);
	}

	#submit_button{
		margin-left: 5%;
		margin-top: 3%;
		width: 10%;
		height: 5vh;
		border-style: outset;
		border-color: rgba(1,1,1,0.5);
		box-shadow: inherit;
		font-family: "arial";
		font-size: 130%;
		background: linear-gradient(rgba(255,255,255,1),rgba(1,1,1,0.2));
		background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(1,1,1,0.2));
		background: -moz-linear-gradient(rgba(255,255,255,1),rgba(1,1,1,0.2));
		background: -o-linear-gradient(rgba(255,255,255,1),rgba(1,1,1,0.2));
	}

	.button:hover{
		background-color: rgba(1,1,1,1);
		/*color: rgb(255,255,255);*/
		font-weight: bold;
	}

	#caution{
		display: none;
		margin-left: 25%;
		font-family: "arial";
		font-size: 140%;
		color: rgba(128,10,20,1);
	}
}
